:root {
    --primary: #3f6ad8;
    --white: #ffffff;
}


body {
    margin: 0;
    padding: 0;
    background-color: #f1f4f6;
    color: #495057;
}


a {
	color: var(--primary);
	text-decoration: none;
	background-color: transparent;
}
#block-pagetitle h1.page-title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}
.block-help-block p {
    margin-bottom: 5px;
}


/* layout */
.region.region-header {
    background: rgba(255,255,255,.45);
    padding: 20px 2.5em;
    margin-bottom: 1.5rem;
}
.region.region-pre-content {
    margin: 0 2.5em;
}
.admin-item {
    position: relative;
    padding: 1.5rem 1rem;
}
.admin-item:not(:last-child) {
    border-bottom: 1px solid #e9ecef;
}
.panel h3.panel__title {
    font-size: 1.25rem;
}
.admin-item:hover {
    background-color: #e0f3ff;
}
.admin-item > a {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-indent: -999em;
}
.admin-item h3.item-title {
    font-size: 1.2rem;
    margin-bottom: 0;
}
a.button.button-action,
.btn-shadow-primary {
    width: auto;
    margin: 1rem 0;
    box-shadow: 0 .46875rem 2.1875rem rgba(4,9,20,.03),0 .9375rem 1.40625rem rgba(4,9,20,.03),0 .25rem .53125rem rgba(4,9,20,.05),0 .125rem .1875rem rgba(4,9,20,.03);
}
a.button.button-action {
    color: #fff !important;
    background-color: #0d6efd !important;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a.button.button-action:hover {
    color: #fff;
    background-color: #0b5ed7 !important;
    border-color: #0a58ca !important;
}
.contextual-region li {
    list-style: none;
}

/* block css */
.panel.aerodash-admin-block,
.block-system-main-block > form,
.views-exposed-form,
#views-entity-list,
.card {
    box-shadow: 0 .46875rem 2.1875rem rgba(4,9,20,.03),0 .9375rem 1.40625rem rgba(4,9,20,.03),0 .25rem .53125rem rgba(4,9,20,.05),0 .125rem .1875rem rgba(4,9,20,.03);
    border-width: 0;
    transition: all .2s;
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(26,54,126,.125);
    border-radius:.5rem;
    padding: 1rem;
}
.panel.aerodash-admin-block .card,
.block-system > form .card, 
.panel .admin-list, 
.block-system > form .dataset-table-wrapper {
	padding: 0;
	border: 0 none;
	box-shadow: none;
}
.views-exposed-form {
    margin-bottom: 1rem;
    flex-flow: row;
}
.views-exposed-form > .form-wraper {
    margin-right: 0.5rem;
}
.views-exposed-form > .form-actions {
    margin-top: 30px;
}
.panel.aerodash-admin-block .panel_header {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 1rem;
    background: #e0f3ff;
}

/* dropdown css */
ul.dropbutton.aero-dropdown li.dropdown-item.dropbutton-action:not(.secondary-action) {
    color: var(--primary);
    border: solid 1px var(--primary);
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    transition: color .15s,background-color .15s,border-color .15s,box-shadow .15s;
}
ul.dropbutton.aero-dropdown li.dropbutton-toggle:hover,
ul.dropbutton.aero-dropdown li.dropdown-item.dropbutton-action:not(.secondary-action):hover {
    background-color: var(--primary);
}
ul.dropbutton.aero-dropdown li.dropdown-item.dropbutton-action:not(.secondary-action):hover > a{
    color: var(--white);
}
ul.dropbutton.aero-dropdown li.dropbutton-toggle {
    border: solid 1px var(--primary);
    border-left: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    transition: color .15s,background-color .15s,border-color .15s,box-shadow .15s;
}


/* table css */
table {
    border-collapse: collapse;
    width: 100%;
}
/* table tbody tr:nth-of-type(2n+1) {
	background-color: rgba(0,0,0,.03);
} */
table tbody tr:not(:last-child),
table thead tr:not(:last-child) {
    border-bottom: 1px solid #e9ecef;
}
table thead tr,
table tbody tr:hover {
    background: #e0f3ff;
}
table thead tr th,
table tbody tr td {
    padding: 1.5rem 1rem !important;
}

button.link.tabledrag-toggle-weight {
    margin-bottom: 1rem;
}


/*  */
.aero-detail {
    border: solid 1px #e0e0e0;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
}
.aero-detail .aero-summary {
    padding: 1rem;
}
.aero-detail .aero-summary[aria-expanded="true"] {
    border-bottom: solid 1px #e0e0e0;
}
.aero-detail .aero-detail-wraper {
    padding: 1rem;
}
.form-wraper .description {
    margin-bottom: 1rem;
    display: inline-block;
}


/* .vt-status-message {
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 500px;
    z-index: 99;
    background: var(--white);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
} */

/* .metismenu .mm-collapse:not(.mm-show) {
    display: block !important;
} */