.form-select {
    width: auto;
}
.breadcrumb {
    margin-bottom: 0;
}
.form-control {
    width: auto;
}
.form-radio.form-control {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: left;
    margin-left: -1.5em;
}
.form-radio.form-control[type="checkbox"] {
	border-radius: .25em;
}
