ul.tabs-animated.tabs-primary.nav,
ul.tabs-secondary.nav {
    margin-bottom: 1rem;
}
ul.tabs-animated.tabs-primary.nav .nav-link {
    position: relative;
    margin-right: 1rem;
    transition: all .2s;
    padding: 1rem;
    color: #495057;
}
ul.tabs-animated.tabs-primary.nav .nav-link.is-active,
ul.tabs-animated.tabs-primary.nav .nav-link:hover {
    color: var(--white);
}
ul.tabs-animated.tabs-primary.nav .nav-link::before {
	transform: scale(0);
	opacity: 1;
	width: 100%;
	left: 0;
	bottom: -2px;
	content: "";
	position: absolute;
	display: block;
	border-radius: .25rem;
	background: #3f6ad8;
	transition: all .2s;
	height: 4px;
}
ul.tabs-animated.tabs-primary.nav .nav-link::before {
	height: 70%;
	top: 17%;
	z-index: 4;
	bottom: auto;
	box-shadow: 0 16px 26px -10px rgba(63,106,216,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(63,106,216,.2);
	border-radius: 100%;
	opacity: .5;
}
ul.tabs-animated.tabs-primary.nav .nav-link.is-active::before, 
ul.tabs-animated.tabs-primary.nav .nav-link:hover::before {
    transform: scale(1);
	border-radius: .25rem;
	opacity: 1;
    z-index: -1;
}

/* secondary tabs */
ul.tabs-secondary.nav {
	width: auto;
  	margin-right: auto;
}
ul.tabs-secondary.nav > li {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}
ul.tabs-secondary.nav > li a.nav-link {
	text-transform: none;
	width: 100%;
	display: block;
	color: #495057;
}
ul.tabs-secondary.nav > li a.nav-link::before {
	content: '';
	border-radius: 15px;
	background: #3f6ad8;
	transition: all .2s;
	height: 4px;
	position: absolute;
	bottom: -2px;
	opacity: 0;
	transform: scale(0);
	opacity: 1;
	width: 90%;
	left: 5%;
}
ul.tabs-secondary.nav > li a.nav-link:hover::before,
ul.tabs-secondary.nav > li a.nav-link.is-active::before {
	transform: scale(1);
}