:root {
    --toolbar-width: 300px;    
}

.toolbar-tray-open.path-admin {
    padding-left: 300px;
    padding-top: 0 !important;
}

.aerodash-admin-toolbar {
    /* display: none; */
    position: fixed;
    left: 0;
    top: 0;
    width: var(--toolbar-width);
    background-color: #fff;
    overflow-y: auto !important;
    height: 100vh;
    box-shadow: 7px 0 60px rgba(0, 0, 0, .05);
}

.aero-nav {
    padding: 2rem 1.5rem 1.5rem;
}

.toolbar-horizontal .toolbar-tray {
    position: relative;
    box-shadow: none;
}
ul.metismenu {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}
ul.metismenu li.menu-item {
    width: 100%;
    background: transparent;
    border: none !important;
}
ul.metismenu li.menu-item>a {
    text-indent: initial;
    display: block;
    position: relative;
    border-radius: .25rem;
    color: #343a40;
    white-space: nowrap;
    transition: all .2s;
    margin: .1rem 0;
    padding: 20px 22px 20px 70px;
}
ul.metismenu li.menu-item>a:hover {
    text-decoration: none;
}
ul.metismenu li.menu-item:hover {
    background-color: #e0f3ff;
}

ul.vertical-nav-menu.metismenu li.menu-item>a:hover {
    background: #e0f3ff;
    text-decoration: none;
}

.metismenu .menu-item--expanded>a::after {
    content: "\e688";
    position: absolute;
    right: 0;
    font-family: 'Pe-icon-7-stroke';
    font-size: 2rem;
    top: 11px;
}
.metismenu li.menu-item--expanded.hover-intent>a::after {
    transform: rotate(-90deg);
}
.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul,
.toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul {
    position: fixed;
    margin-left: calc(var(--toolbar-width) - 1px);
    top: 0;
    width: var(--toolbar-width);
    height: 100vh;
    margin-top: 0;
    border-left: 1px solid rgba(0, 0, 0, .075);
    border-right: 1px solid rgba(0, 0, 0, .075);
    box-shadow: 7px 0 16px rgba(0, 0, 0, .075);
}
.toolbar-loading #toolbar-administration {
    overflow: hidden;
    z-index: 9;
    position: relative;
}
.toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a, .toolbar .toolbar-tray a.is-active {
    text-decoration: none;
}
.toolbar-icon.toolbar-item {
    display: none !important;
  }
ul.metismenu li.menu-item > a.toolbar-icon::before  {
    font-family: 'Pe-icon-7-stroke';
    font-size: 2rem;
    background-image: none;
    position: absolute;
    line-height: normal;
    left: 15px;
    top: 10px;
}
.toolbar-icon-system-admin-content:before {
    content: "\e656" !important;
}
.toolbar-icon-system-admin-structure:before {
    content: "\e619" !important;
}
.toolbar-icon-system-themes-page:before {
    content: "\e664" !important;
}
.toolbar-icon-system-themes-page:before {
    content: "\e664" !important;
}
.toolbar-icon-system-modules-list:before {
    content: "\e617" !important;
}
.toolbar-icon-system-admin-config:before {
    content: "\e666" !important;
}
.toolbar-icon-entity-user-collection:before {
    content: "\e693" !important;
}
.toolbar-icon-system-admin-reports:before {
    content: "\e612" !important;
}
.toolbar-icon-admin-toolbar-tools-help:before {
    content: "\e60a" !important;
}
.toolbar-icon-help-main:before {
    content: "\e64a" !important;
}
.toolbar-horizontal .toolbar-tray {
    border: none;
}

.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded {
    background-image: none;
}
.menu-item-title .toolbar-menu__sub-title > a,
li.menu-item-title h2.toolbar-menu__title > a {
    font-size: 1.5rem;
    padding: 1rem 1rem;
    margin-top: 1rem;
}