{#
/**
    * @file
    * Theme override for an 'input' #type form element.
    *
    * Available variables:
    * - attributes: A list of HTML attributes for the input element.
    * - children: Optional additional rendered elements.
    *
    * @see template_preprocess_input()
    */
#}

{% if attributes.type == 'submit' %}
    <input{{ attributes.addClass('btn-shadow-primary', 'btn', 'btn-primary').removeClass("form-text") }} />{{ children }}
{% else %}
    <input{{ attributes.addClass("form-control").removeClass("form-text") }} />{{ children }}
{% endif %}