{#
/**
    * @file
    * Default theme implementation for a details element.
    *
    * Available variables
    * - attributes: A list of HTML attributes for the details element.
    * - errors: (optional) Any errors for this details element, may not be set.
    * - title: (optional) The title of the element, may not be set.
    * - summary_attributes: A list of HTML attributes for the summary element.
    * - description: (optional) The description of the element, may not be set.
    * - children: (optional) The children of the element, may not be set.
    * - value: (optional) The value of the element, may not be set.
    *
    * @see template_preprocess_details()
    *
    * @ingroup themeable
    */
#}
{%
set detail_classes = [
    'aero-detail'
]
%}
<details{{ attributes.addClass(detail_classes) }}>
    {%
    set summary_classes = [
        'aero-summary',
        required ? 'js-form-required',
        required ? 'form-required',
    ]
    %}
    {%- if title -%}
    <summary{{ summary_attributes.addClass(summary_classes) }}>{{ title }}</summary>
    {%- endif -%}

    {% if errors %}
    <div>
        {{ errors }}
    </div>
    {% endif %}

    <div class="aero-detail-wraper">
        {{ description }}
        {{ children }}
        {{ value }}
    </div>
    
</details>